

.aside h1 {
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.aside p {
    margin-left: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.cbox {
    width: 100%;
    height: 60%;
    background-color: aliceblue;
}

.cbox #head1 {
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.cbox .chalnaudhar {
    margin-left: 50px;
    font-size: 18px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}

.cbox #head2 {
    margin-top: -50px;
    margin-left: 750px;
    font-family: Arial, Helvetica, sans-serif;
}

.cbox .maintoyahinrahunga {
    font-size: 18px;
    float: right;
    margin-right: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

.aside ul {
    list-style-type: square;
    font-size: 20px;
}

.aside ul li {
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.aside p a {
    text-decoration: none;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}